//- index.jade
doctype
include includes/head.jade
body
  include includes/header.jade
  include includes/features.jade
  include includes/howitworks.jade
  include includes/allwayswithyou.jade
  include includes/compact.jade
  include includes/snap.jade
  include includes/fit.jade
  include includes/compare.jade
  include includes/main.jade
  include includes/footer.jade
  include includes/cart.jade
  include includes/calc.jade
  include includes/shipping.jade
