/* _fit.scss */
.l-fit {
  background: url('images/doob7.jpg') center center no-repeat;
  min-height: 722px;
  padding-top: 60px;
  &_title {
    @extend %title;
    line-height: 45.33px;
    font-size: $thirdTitleFontSize;
  }
}
