// _config.scss

// Grid settings
$container: 1000px;
@lost gutter 0;

// Typography
$baseFontSize: 16px;
$primaryTitleFontSize: 52.87px;
$secondaryTitleFontSize: 52.52px;
$thirdTitleFontSize: 48.35px;
$fourthTitleFontSize: 48.01px;
$subtitleFontSize: 29.94px;
$textHighlightedFontSize: 31.01px;
$btnSecondaryFontSize: 28.26px;
$textBigFontSize: 24px;
$textDescriptionFontSize: 18.79px;
$btnFontSize: 18px;
$footerNavFontSize: 17.75px;
$baseLine: $baseFontSize * 1.75;

// Font families
$baseFont: "SFUIDisplay-Regular", sans-serif;
$lightFont: "SFUIDisplay-Light", sans-serif;
$thinFont: "SFUIDisplay-Thin", sans-serif;
$boldFont: "SFUIDisplay-Bold", sans-serif;
$heavyFont: "SFUIDisplay-Heavy", sans-serif;
$secondaryTitle: "NexaScript-Thin", sans-serif;

// Colors
$primaryFontColor: #fff;
$secondaryFontColor: #c2c2c2;
$darkFontColor: #000;
$activeLinkColor: #de302f;
$lightBgColor: #F6F5F2;
$btnPrimaryBgColor: #d0f9f9;
$btnSecondaryBgColor: #ffec46;
$borderColor: #273a5b;
$fadedTextColor: #8e8e8e;

// $errorColor: #ef3556;
