// _fonts.scss
@font-face {
 font-family: "SFUIDisplay-Regular";
 src: url("fonts/SFUIDisplay-Regular.otf") format("opentype");
}
@font-face {
 font-family: "SFUIDisplay-Bold";
 src: url("fonts/SFUIDisplay-Bold.otf") format("opentype");
}
@font-face {
 font-family: "SFUIDisplay-Heavy";
 src: url("fonts/SFUIDisplay-Heavy.otf") format("opentype");
}
@font-face {
 font-family: "SFUIDisplay-Light";
 src: url("fonts/SFUIDisplay-Light.otf") format("opentype");
}
@font-face {
 font-family: "SFUIDisplay-Thin";
 src: url("fonts/SFUIDisplay-Thin.otf") format("opentype");
}
@font-face {
 font-family: "NexaScript-Thin";
 src: url("fonts/NexaScript-Thin.otf") format("opentype");
}
