//- allwayswithyou.jade
section.l-allwayswithyou
  .l-container
    .l-allwayswithyou_wrap
      h3.l-allwayswithyou_title Всегда с собой
      p.l-allwayswithyou_text Дизайн мини-кошелька
        br
        | продуман и прост.
