//- compare.jade
.l-compare
  .l-container
    p.l-compare_text Теперь можно оставить дома неудобную сумку &mdash; кошелек отлично сочетается
      br
      | как с деловым костюмом, так и с любым другим стилем одежды
