//- compact.jade
section.l-compact
  .l-container
    .l-compact_wrap
      h3.l-compact_title Компактно
      p.l-compact_text Бумажные купюры фиксируются
        br
        | компактным отделением для
        br
        | пластиковых карт
