//- section1.jade
section.l-features#features
  .l-container--features
    h3.l-features_title Что в нем такого?
    .l-features_subsection
      .l-features_item
        h4.l-features_subtitle Удобный
        p.l-features_text Незаметен в кармане.
          br
          | Легко достать.
      .l-features_item
        h4.l-features_subtitle Вместительный
        p.l-features_text Вмещает до 40 купюр
          br
          | и 6 кредитных карт.
    .l-features_subsection
      .l-features_item
        h4.l-features_subtitle Стильный
        p.l-features_text Приятный цвет, натуральная
          br
          | кожа. Ничего лишнего.
      .l-features_item
        h4.l-features_subtitle Сделан вручную
        p.l-features_text Делаем сами, с душой,
          br
          | в России.
