//- head.jade
head
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  title Doob
  link(rel="stylesheet", href="style.css")
  link(rel="stylesheet", href="jquery.modal.css")
  meta(name="viewport", content="initial-scale=1.0")
