//- main.jade
section.l-simple
  .l-container
    h3.l-simple_title Легче легкого!
section.l-fabric#fabric
  .l-container
    .l-fabric_quality
      img.l-fabric_icon(src="images/doob_icon.png", alt="")
      p.l-fabric_text Каждый кошелек DOOB создается вручную, в единственном экземпляре и только из натуральной итальянской кожи высшего качества.
    .l-fabric_quality
      img.l-fabric_icon(src="images/doob_icon2.png", alt="")
      p.l-fabric_text Выпускаются лимитированными сериями, с уникальными сочетаниями фактуры и цвета кожи.
    .l-fabric_quality--title
      hr
      h3.l-fabric_title Мы используем лучшие материалы - особопрочные нити tytan и немецкую фурнитуру.
.l-benefits
  .l-container
    .l-benefits_section
      p.l-benefits_text Каждый кошелек комплектуется фирменным пеналом с гравировкой. Это будет идеальный подарок. Особенно для себя.
    .l-benefits_section
      p.l-benefits_text Так же мы можем сделать гравировку с посланием будущему владельцу кошелька, что еще сильнее увеличит впечатления от подарка.
section.l-cta
  .l-container
    h3.l-cta_title Кошельки готовы. А вы?
    .l-cta_lines
      hr
      hr
    .l-cta_btnWrap
      a.l-cta_btn(href="#") Купить
    .l-cta_lines
      hr
      hr
