//- snap.jade
section.l-snap
  .l-container
    .l-snap_wrap
      h3.l-snap_title Застежка
      p.l-snap_text Аксессуар надежно закрывается
        br
        | на кнопку, не позволяя содер-
        br
        | жимому выпасть.
